.Events{
    width:75%;
    margin:0 auto;
    padding:50px; 
    font-family: 'Orbitron', sans-serif;
    font-size:17px;
    border-radius:0.5em;
    margin-top:10%;
    text-align:center;
    height:12200px;
    color:white;
    position:relative;
    background-color: rgb(171, 74, 255, 0.4);
    /*max-height:1vh;*/
    margin-left:13%;
    /*top:-1050px;*/ 
 }
 .PastEvents{
    width:75%;
    border-radius:0.5em;
    /*max-height:1vh;*/
    margin:0 auto;
    padding:50px;
    height:9900px;
    margin-top:100px;
    font-family: 'Orbitron', sans-serif;
    font-size:17px;
    color:white;
    text-align:center;
    background-color: rgb(171, 74, 255, 0.4);
    margin-left:13%;
    display:inline-block;

    /*top:-1050px;*/ 
    margin-bottom:35%;
    position:relative;
 }
 .Events > img{
   padding:10px;
   max-width:200px;
   max-height:300px;
   display:inline-block;
   cursor:pointer;
   margin:0 auto; 
   text-align:center;
   position:relative;
}
 .PastEvents > img{ 
   padding:10px;
   max-height:300px;
   align:center;
   display:inline-block;
   cursor:pointer;
    margin:0 auto;
    max-width:200px;
    text-align:center;
 }