.Home{
    width:75%;
    margin:0 auto;
    height:350px;
    padding:50px;
    margin-top:100px;
    font-family: 'Share', cursive;
    font-size:17px;
    color:white;
    margin-left:13%;
    position:relative;
    background-color:  rgb(171, 74, 255, 0.4);
    border-radius:0.5em;
}