.Services{
    width:75%;
    margin:0 auto;
    padding:50px;
    margin-top:100px;
    font-family: 'Quicksand', sans-serif;
    font-size:17px;
    color:white;
    margin-left:13%; 
    margin-bottom:35%;
    position:relative;
    background-color:  #ab4aff;
}